/**
 * module-reference:/menu-right.css
 *
 * @created   2019-04-03
 * @version   1.0
 * @package   module-reference
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

.menu-right {
	border:  1px solid black;
	background-color:  white;
	padding: 0;
	padding-left:  0.5em;
	padding-right: 1.0em;
}

.menu-right ul,
.menu-right ol {
	margin-bottom: 0.5em;
}

.menu-right li {
	margin: 0.2em 0;
}
